/*这是想暴露出去的注释*/
#wrap {
  position: relative;
  width: 300px;
  height: 400px;
  border: 1px solid;
  margin: 0px auto;
}
#wrap .inner {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 50%;
  top: 50%;
  background: pink;
  margin-left: -50px;
  margin-top: -50px;
}
#wrap .inner:hover {
  background: black;
}
#wrap .inner2 {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 50%;
  top: 50%;
  background: black;
  margin-left: -50px;
  margin-top: -50px;
}
#wrap .inner2:hover {
  background: black;
}
