/*这是想暴露出去的注释*/
//这是见不得人的注释
@color:pink;
@m:margin;
@selector:#wrap;
*
		{
			@{m}: 0px;
			padding: 0px;
		}
		@{selector}
		{
			position: relative;
			width: 300px;
			height: 400px;
			border: 1px solid;
			margin: 0px auto;
			.inner
			{
				position: absolute;
				height: 100px;
				width: 100px;
				left: 50%;
				top: 50%;
				background: @color;
				margin-left: -50px;
				margin-top: -50px;
			}
		}