<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../../vue-v2.5.17.min.js"></script>
</head>
<body>
	<div class="box">
		<input type="text" v-model="msg">
		<input type="text" v-model="msg">
		<br>
		{{msg}}
		<br>
		{{msg2}}
		<br>
		{{msg3}}
		<br>
		{{arr}}
		<br>
		{{json}}

	</div>

	<script type="text/javascript">
		var vm=new Vue(
			{
				el:'.box',
				data:
				{
					msg:'Welcome Vue',
					msg2:12,
					msg3:true,
					arr:['apple','banana','orange'],
					json:{a:'apple',b:'banana',c:'color'},
				}
			});
	</script>
</body>
</html>