<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
<script src="../../vue-v2.5.17.js"></script>
</head>
<body>
	<div class="app">
		<p v-for="user in list">ID:{{user.id}}---------名字是：{{user.name}}</p>
		<p v-for="(user,i) in list">ID:{{user.id}}---------名字是：{{user.name}}-----索引是{{i}}</p>
	</div>
	<script type="text/javascript">
		
		var vm=new Vue(
			{
				el:'.app',
				data:
				{
					list:
					[	

					{id:1,name:'zhangsan1'},
					{id:2,name:'zhangsan2'},
					{id:3,name:'zhangsan3'},
					{id:4,name:'zhangsan4'},

					],
				},
				methods:
				{

				},
			});
	</script>	
</body>
</html>